footer {
  padding: 2vmax;
  background-color: #222121;
  color: white;
  
}

footer .midFooter {
  width: 100%;
  text-align: center;
}

footer .midFooter p {
  max-width: 100%;
  margin: 1vmax auto;
  font-family: "Roboto", Arial, sans-serif;
}

